.container {
  width: 100vw;
}
.search-bar {
  margin: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}
.search-bar h2 {
  font-size: 50 px;
}
input {
  width: 70%;
  height: 70px;
  border: 1px solid rgba(95, 39, 18, 0.418);
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
}
.trending {
  max-width: 100%;
  margin-left: 20%;
  display: grid;
  gap: 3%;
}
.trending h2 {
  font-size: 50px;
  margin-left: 20%;
  margin-bottom: 15px;
  margin-top: 15px;
}

.coins {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.coin-name {
  grid-column: 1/ 2;
  display: flex;
  align-items: center;
  gap: 5%;
  font-size: 20px;
  font-weight: 500;
}
.coin-price {
  display: flex;
  grid-column: 3/ 4;
  font-size: 20px;
  font-weight: 500;
}
.trending-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
hr {
  width: 70%;
}
